<a href="https://colab.research.google.com/github/trogtri/phantichdulieu/blob/main/lab01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
arr = [12,-4,7,9]

In [2]:
type(arr)

list

In [3]:
arr[1]

-4

In [4]:
arr[0]

12

In [5]:
import pandas as pd #alias
s = pd.Series(arr)
print (s)

0    12
1    -4
2     7
3     9
dtype: int64

In [6]:
type(s)

pandas.core.series.Series

Example 2:

In [7]:
import pandas as pd
s2 = pd.Series([12,-4,7,9], index=['a', 'b', 'c', 'd'])
print (s2)

a    12
b    -4
c     7
d     9
dtype: int64

In [8]:
s2.values

array([12, -4,  7,  9])

In [9]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

Example 3:

In [10]:
data ={'color' : ['blue', 'green', 'yellow', 'red', 'white'],
	'object': ['ball', 'pen', 'pencil', 'paper', 'mug'],
	'price': [1.2, 1.0, 0.6,0.9,1.7]}

In [11]:
type(data)

dict

In [12]:
frame = pd.DataFrame(data)

In [13]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [14]:
type(frame.color)

pandas.core.series.Series

In [15]:
frame.color

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [16]:
frame['color']

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [17]:
type(data)

dict

Example 4:

In [18]:
frame2 = pd.DataFrame (frame, columns = ['object', 'price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

Example 5: Tạo columns mới với 1 giá trị mặc định ban đầu

In [19]:
frame2['type'] ='normal'
frame2

   object  price    type
0    ball    1.2  normal
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7  normal

In [20]:
len(frame2)

5

In [21]:
frame2['price'][0]

1.2

Example 6: Thực hành hàm loc, iloc trong DataFrame

In [22]:
for i in range(len(frame2)):
  if frame2['price'][i] > 1.0:
    frame2.loc[i, 'type'] = 'good' #update ith of column type with a new value
frame2

   object  price    type
0    ball    1.2    good
1     pen    1.0  normal
2  pencil    0.6  normal
3   paper    0.9  normal
4     mug    1.7    good

Example 7:

In [23]:
frame2['discount'] = frame2['price']*0.02
frame2

   object  price    type  discount
0    ball    1.2    good     0.024
1     pen    1.0  normal     0.020
2  pencil    0.6  normal     0.012
3   paper    0.9  normal     0.018
4     mug    1.7    good     0.034

Example 8:

In [24]:
frame2['price_afterdiscount'] = frame2['price'] - frame2['discount']
frame2

   object  price    type  discount  price_afterdiscount
0    ball    1.2    good     0.024                1.176
1     pen    1.0  normal     0.020                0.980
2  pencil    0.6  normal     0.012                0.588
3   paper    0.9  normal     0.018                0.882
4     mug    1.7    good     0.034                1.666

Example 9:

In [25]:
import pandas as pd
dulieuxettuyen = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv")

In [26]:

type(dulieuxettuyen)

pandas.core.frame.DataFrame

In [27]:
dulieuxettuyen.head(2)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
0,1,7.2,7.3,6.3,7.3,7.0,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.5,A1
1,2,5.4,3.9,3.9,4.0,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6.00,4.00,3.5,C

In [28]:
dulieuxettuyen.tail(2)

,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
98,99,2.7,1.8,3.4,5.3,4.5,7.9,4.9,3.8,2.8,...,6.6,5.2,5.9,M,NaN,1,5.00,3.5,5.50,C
99,100,4.1,5.2,4.9,5.3,5.5,5.4,7.2,5.4,4.4,...,5.6,6.6,5.8,M,NaN,2NT,5.25,2.5,4.25,C

In [29]:
dulieuxettuyenKI = pd.DataFrame(dulieuxettuyen, columns=['T1',	'L1',	'H1',	'S1',	'V1',	'X1',	'D1',	'N1'])

In [30]:
dulieuxettuyenKI.columns

Index(['T1', 'L1', 'H1', 'S1', 'V1', 'X1', 'D1', 'N1'], dtype='object')

In [31]:
dulieuxettuyenKI.tail(3)

     T1   L1   H1   S1   V1   X1   D1   N1
97  8.8  5.5  7.4  7.7  6.2  7.3  8.1  4.5
98  2.7  1.8  3.4  5.3  4.5  7.9  4.9  3.8
99  4.1  5.2  4.9  5.3  5.5  5.4  7.2  5.4

In [32]:
import pandas as pd
dltuyensinh_withoutHeader = pd.read_csv("https://raw.githubusercontent.com/huynhhoc/phantichdulieu/main/Data/dulieuxettuyendaihoc.csv", header = None)

In [33]:
dltuyensinh_withoutHeader.head(5)

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,STT,T1,L1,H1,S1,V1,X1,D1,N1,T2,...,X6,D6,N6,GT,DT,KV,DH1,DH2,DH3,KT
1,1,7.2,7.3,6.3,7.3,7,7.9,7.3,5.5,8.4,...,6.6,7.6,5.9,F,NaN,2NT,3.25,3.25,4.5,A1
2,2,5.4,3.9,3.9,4,5.4,5.4,5.3,2.8,6.3,...,6.6,6.1,4.4,M,NaN,1,6,4,3.5,C
3,3,5.6,6.8,7.2,7.5,4.3,7.4,5.8,3.2,5,...,7.9,8.1,4.6,M,NaN,1,5,6.75,4,C
4,4,6.6,6.4,5.3,6.9,5.4,7.3,6.4,5.8,5.1,...,7.1,7.3,7.4,M,NaN,1,4.25,4.25,5.25,D1

Example 10:

In [34]:
import pandas as pd
import numpy as np
frame = pd.DataFrame(np.arange(16).reshape(4,4),
		index =['white', 'black', 'red','blue'],
		columns =['up', 'down', 'right', 'left'])
frame.to_json('frame.json')
#Read json-formatted data
jsonFrame = pd.read_json('frame.json')
print(jsonFrame)

       up  down  right  left
white   0     1      2     3
black   4     5      6     7
red     8     9     10    11
blue   12    13     14    15

Example 11:

In [38]:
import pandas as pd
example11 = pd.read_table('https://raw.githubusercontent.com/huynhhoc/DataAnalystDeepLearning/main/Data/example11.txt', sep='\D+', header=None, engine='python')
print (example11)

HTTPError: ignored

Example 12: